body {
  margin: 0;
  background: #2C2B3D;
  min-height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  color: #fff;
}
.page {
  width: 1092px;
  margin: 0 auto;
  padding-top: 71px;
}
nav {
  width: 1083px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 107px;
}
ul {
  display: flex;
  gap: 64px;
  list-style: none;
}
li a{
  color: #fff;
  text-decoration: none; 
  font-size: 14px;
  line-height: 28px;
}
li a:hover {
  font-weight: 700;
}
h1 {
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 59px;
  margin: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 77px;
}
p {
  margin-top: 0;
  color: #7d7987;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
strong {
  color: #c2c2c2;
}
span {
  color: #00bfa6;
}

